{
  "plugins": [],
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/eslint-config-prettier"
  ],
  "rules": {
    "no-unused-vars": "error",
    "vue/no-unused-vars": "error",
    "quote-props": [
      "error",
      "as-needed"
    ]
  }
}